.order-card {
    border-radius: 20px;
    transition: transform 0.3s ease;
    height: 100%;
    min-height: 350px;
  }
  
  .order-card:hover {
    transform: scale(1.03);
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.8rem;
  }
  
  .card-img-top {
    height: 220px;
    object-fit: contain;
  }
  